.dashboardContainer {
  .cardColumnChart{
    background: linear-gradient(90deg, rgba(163,236,253,1) 0%, rgba(198,150,252,1) 100%);
  }
  .cardInfoValue{
    font-weight: 700;
    font-size: 30px;
    line-height: 1.35;
    margin: 0;
  }
  .statistic{
    display: flex;
    align-items: center;
  }
  .dualLineChart{
    height: 100%;
  }
}